/frontend/task_journal.db
/frontend/__init__.py

/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/js projekt.iml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
